version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: desafio2_postgres_db
    
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: persisted_data
    
    volumes:
      - postgres_data:/var/lib/postgresql/data
      
    ports:
      - "5432:5432"

volumes:
  postgres_data:
